version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: webhook_service
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    image: registry.duc1607.me/webhook
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/webhook_service
    depends_on:
      - db

volumes:
  db_data:
